# Updater - perfil produção
UPDATER_ENABLED=true
UPDATER_TRIGGER_DRIVER=queue
UPDATER_UI_FORCE_SYNC=false

UPDATER_GIT_PATH=/var/www/seu-projeto
UPDATER_GIT_REMOTE=origin
UPDATER_GIT_BRANCH=main
UPDATER_GIT_FF_ONLY=true
UPDATER_GIT_AUTO_INIT=false
UPDATER_GIT_DEFAULT_UPDATE_MODE=ff-only

UPDATER_BACKUP_ENABLED=true
UPDATER_SNAPSHOT_ENABLED=true
UPDATER_BUILD_ASSETS=false

UPDATER_MIGRATE_IDEMPOTENT=true
UPDATER_MIGRATE_MODE=tolerant
UPDATER_MIGRATE_RETRY_LOCKS=2
UPDATER_MIGRATE_RETRY_SLEEP_BASE=3
UPDATER_MIGRATE_RECONCILE_ALREADY_EXISTS=true

UPDATER_MAINTENANCE_VIEW=laravel-updater::maintenance
UPDATER_UI_ENABLED=true
UPDATER_UI_AUTH_ENABLED=true

UPDATER_SEED_RUN_REFORMA_TRIBUTARIA=true
UPDATER_SEED_REFORMA_TRIBUTARIA_SEEDER="Database\\Seeders\\ReformaTributariaSeeder"
UPDATER_SEED_ALLOW_DEFAULT_DATABASE_SEEDER=false
UPDATER_HEALTHCHECK_SKIP_LOCALHOST=true
