# Updater - perfil homologação
UPDATER_ENABLED=true
UPDATER_TRIGGER_DRIVER=sync
UPDATER_UI_FORCE_SYNC=true

UPDATER_GIT_PATH=/home/usuario/htdocs/seu-projeto
UPDATER_GIT_REMOTE=origin
UPDATER_GIT_BRANCH=main
UPDATER_GIT_AUTO_INIT=true
UPDATER_GIT_REMOTE_URL=https://github.com/wkarts/seu-repo.git
UPDATER_GIT_DEFAULT_UPDATE_MODE=tag

UPDATER_BACKUP_ENABLED=true
UPDATER_SNAPSHOT_ENABLED=true
UPDATER_BUILD_ASSETS=false

UPDATER_MIGRATE_IDEMPOTENT=true
UPDATER_MIGRATE_MODE=tolerant
UPDATER_MIGRATE_DRY_RUN=false

UPDATER_MAINTENANCE_VIEW=laravel-updater::maintenance
UPDATER_UI_ENABLED=true
UPDATER_UI_AUTH_ENABLED=true

UPDATER_SEED_RUN_REFORMA_TRIBUTARIA=true
UPDATER_SEED_REFORMA_TRIBUTARIA_SEEDER="Database\\Seeders\\ReformaTributariaSeeder"
UPDATER_SEED_ALLOW_DEFAULT_DATABASE_SEEDER=false
UPDATER_HEALTHCHECK_SKIP_LOCALHOST=true
